<%- include('layout.ejs') %>
<main>
  <h1><%= title %></h1>
  <form action="" method="POST">
    <div class="form-group">
      <label for="name">Genre:</label>
      <input 
        id="name" 
        class="form-control" 
        type="text" 
        placeholder="Fantasy, Poetry, etc" 
        name="name" 
        required='true'
        value=<%= (genre == undefined ? '' : genre.name) %>
      >
      <button class='btn btn-primary' type="submit">submit</button>
    </div>
  </form>
  
  <% if(errors) { %> 
    <ul>
        <% for(let error in errors) { %>
            <li><%= error.msg %></li>
        <% } %>
    </ul>
  <% } %>
  
</main>
